<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
     <bean id ="helloWorld"  class="com.bigdata.pojo.HelloWorld"> </bean>
     <bean id = "studentOne" class="com.bigdata.pojo.Student">
          <property name="age"  value="12"></property>
          <property name="gender"  value="男"></property>
<!--          <property name="name" value="王五" ></property>-->
          <property name="name"  >
               <value><![CDATA[<王五>]]></value>
          </property>
     </bean>

     <bean id = "studentTwo" class="com.bigdata.pojo.Student">
          <property name="age"  value="15"></property>
          <property name="gender"  value="女"></property>
          <!--          <property name="name" value="王五" ></property>-->
          <property name="name"  >
               <value><![CDATA[李四]]></value>
          </property>
     </bean>

     <bean id="clazzone" class="com.bigdata.pojo.Clazz">
          <property name="cid"  value="1"></property>
          <property name="cname"  value="一年三班"></property>
          <property name="stu">
               <list>
                   <ref bean="studentOne"></ref>
                    <ref bean="studentTwo"></ref>
               </list>
          </property>
     </bean>
     <context:property-placeholder location = "jdbc.properties" ></context:property-placeholder>

</beans>