# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
#忽略java,python的编译文件
*.class
*.pyc
#忽略开发工具自己的配置文件
.idea
*.iml
